@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

html, body {
	/*font-family: "Roboto";*/
	margin: 0;
	box-sizing: border-box;
	height: 100%;
	background-color: hsl(0, 0%, 90%);
	user-select: none;
	overflow: hidden;
}

#splashscreen {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: hsl(200, 5%, 80%);
	opacity: 1;
	pointer-events: none;
}

#main-page {
	overflow: hidden;
	height: 100%;
}

.page.hide {
	display: none;
}

/* ------------------------------------------ MENU ---------------------------------------*/

#menu {
	position: absolute;
	display: inline-block;
	width: auto;
	height: 100%;
	background-color: hsl(0, 0%, 11%);
	overflow: hidden;
}

#menu-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#menu li {
	line-height: 4em;
	white-space: nowrap;
	padding-right: 1em;
	color: hsl(0, 0%, 85%);
	cursor: pointer;
	letter-spacing: 1px;
}

#menu li:hover {
	color: white;
	background-color: hsl(0, 0%, 18%);
}

.menu-icon img {
	float: left;
	width: 2em;
	height: 2em;
	margin: 1em;
}

#menu-only-help {
	width: 2em;
	height: 2em;
	margin: 1em;
	position: absolute;
	cursor: pointer;
	display: none;
}

.menu-text {	
	font-size: 1.2em;
}

/* ------------------------------------------ LOGIN VIEW ---------------------------------------*/

#help {
	height: 100%;
	background-color: hsl(200, 5%, 80%);
	float: left;
	border-right: solid 1px hsl(0, 0%, 70%);
	padding-top: 0;
	overflow: hidden;
	overflow-y: auto;
	color: hsl(0, 0%, 11%);
	width: 0;
}

#help-pages {
	width: 25em;
}

.help-page {
	display: none;
}

.help-page.current {
	display: block;
}

#help h1 {
	margin: 0;
	padding: 0.7em;
	padding-left: 0.5em;
	letter-spacing: 2px;
	font-size: 2em;
	color: hsl(0, 0%, 11%);
	border-bottom: solid 1px hsl(0, 0%, 40%);
	letter-spacing: 2px;
}

#help-close {
	float: right;
	display: inline-block;
	line-height: 2.5em;
	height: 2.5em;
	font-size: 2em;
	cursor: pointer;
	margin-right: 0.7em;
}

#help-close img {
	width: 1.3em;
	margin-top: 0.6em;
}

#help h2 {
	color: hsl(180, 20%, 20%);
	margin-bottom: 1em;
	letter-spacing: 1px;
	margin-left: 1.3em;
}

#help p {
	font-size: 1.2em;
	margin-left: 1.5em;
	margin-right: 1.5em;
}

/* ------------------------------------------ LOGIN VIEW ---------------------------------------*/

#login-page {
	text-align: center;
	background-color: hsl(200, 5%, 80%);
	height: 100%;
	overflow: hidden;
}

#login-page h1 {
	letter-spacing: 1px;
	font-size: 4em;
	font-weight: 100;
	margin-top: 1.5em;
	color: hsl(0, 0%, 20%);
}

#login-form {
	display: inline-block;
	margin-top: 2.5em;
	background-color: hsl(207, 12%, 95%);
	padding: 2em;
	border: solid 1px hsl(0, 0%, 80%);
	box-shadow: 0 0 12px hsla(0, 0%, 0%, 0.21);
}

#login-form * {
	display: block;
}

#login-form h2 {
	margin: 1.5em 0;
	font-size: 2em;
}

#login-form p {
	width: 30rem;
	color: hsl(0, 60%, 60%);
	display: none;
}

#login-form input {
	margin-bottom: 1em;
	width: 30rem;
	line-height: 3em;
	font-size: 1.5em;
	height: 1.8em;
	line-height: 1.8em;
	padding: 0 0.5em;
	border-radius: 0;
	border: solid hsl(0, 0%, 85%) 1px;
}

#login-form button {
	width: 100%;
	height: 2.5em;
	padding: 0 0.5em;
	margin-top: 2em;
	font-size: 1.5em;
	color: hsl(0, 0%, 95%);
	border-radius: 0;
	border: none;
	background-color: hsl(180, 60%, 30%);
	cursor: pointer;
}

#login-form button:hover {
	background-color: hsl(180, 60%, 40%);
}

#login-form a {
	color: hsl(0, 0%, 40%);
	margin-top: 1em;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}

#login-form a:hover {
	color: black;
}

#login-form-confirm.hide {
	display: none;
}

/* ------------------------------------------ SEARCH VIEW ---------------------------------------*/

#search-page {	
	background-color: hsl(200, 5%, 90%);
	height: 100%;
	overflow: hidden;
}

#search-page h1 {
	background-color: hsl(0, 0%, 95%);
	margin: 0;
	padding: 0.7em;
	padding-left: 1.2em;
	letter-spacing: 2px;
	font-size: 2em;
	color: hsl(180, 60%, 40%);
	border-bottom: solid 1px hsl(0, 0%, 85%);
}

#search-breadcrumb {
	width: 80%;
	margin-left: 10%;
	height: 4em;
	background-color: hsl(0, 0%, 95%);
	border: solid 1px hsl(0, 0%, 70%);
	margin-top: 2em;
}

#search-question {
	margin-top: 3em;
	width: 90%;
	margin-left: 5%;
	font-size: 1.5em;
	color: hsl(0, 0%, 11%);
}

#search-not-used {
	text-align: center;
	height: 6rem;
	font-size: 1.5em;
	line-height: 6rem;
}

#search-page .option.selected {
	cursor: default;
	color: hsl(0, 0%, 0%);
	border: solid 1px hsl(180, 60%, 40%);
	background-color: hsl(180, 20%, 80%);	
}

#search-page .option {
	cursor: pointer;
	width: 90%;
	margin-left: 5%;
	border: solid 1px hsl(180, 60%, 40%);
	background-color: hsl(200, 5%, 90%);
	color: hsl(0, 0%, 60%);
	margin-top: 3em;
}

#search-page .option:hover {
	color: hsl(0, 0%, 0%);
	margin-bottom: 5px;
}

#search-used:not(.selected) {
	height: 6rem;
	overflow: hidden;
}

#search-used p {
	text-align: center;
	font-size: 1.5em;
	line-height: 6rem;
	margin: 0;
}