@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

html, body {
	/*font-family: "Roboto";*/
	margin: 0;
	box-sizing: border-box;
	height: 100%;
	background-color: hsl(0, 0%, 90%);
	user-select: none;
	overflow: hidden;
}

#splashscreen {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: hsl(200, 5%, 80%);
	opacity: 1;
	pointer-events: none;
	z-index: 2000;
}

#main-page {
	overflow: hidden;
	height: 100%;
}

.page.hide {
	display: none;
}

/* ------------------------------------------ MENU ---------------------------------------*/

#menu {
	position: absolute;
	display: inline-block;
	width: auto;
	height: 100%;
	background-color: hsl(0, 0%, 11%);
	overflow: hidden;
	z-index: 1000
}

#menu-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#menu li {
	line-height: 4em;
	white-space: nowrap;
	padding-right: 1em;
	color: hsl(0, 0%, 85%);
	cursor: pointer;
	letter-spacing: 1px;
}

#menu li:hover {
	color: white;
	background-color: hsl(0, 0%, 18%);
}

.menu-icon img {
	float: left;
	width: 2em;
	height: 2em;
	margin: 1em;
}

#menu-only-help {
	width: 2em;
	height: 2em;
	margin: 1em;
	position: absolute;
	cursor: pointer;
	display: none;
}

.menu-text {	
	font-size: 1.2em;
}

/* ------------------------------------------ HELP VIEW ---------------------------------------*/

#help {
	height: 100%;
	background-color: hsl(200, 5%, 80%);
	float: left;
	border-right: solid 1px hsl(0, 0%, 70%);
	padding-top: 0;
	overflow: hidden;
	overflow-y: auto;
	color: hsl(0, 0%, 11%);
	width: 0;
}

#help-pages {
	width: 25em;
}

.help-page {
	display: none;
}

.help-page.current {
	display: block;
}

#help h1 {
	margin: 0;
	padding: 0.5em;
	padding-left: 0.5em;
	letter-spacing: 2px;
	font-size: 2em;
	color: hsl(0, 0%, 11%);
	border-bottom: solid 1px hsl(0, 0%, 40%);
	letter-spacing: 2px;
}

#help-close {
	float: right;
	display: inline-block;
	line-height: 2.5em;
	height: 2.5em;
	font-size: 2em;
	cursor: pointer;
	margin-right: 0.7em;
}

#help-close img {
	width: 1.3em;
	margin-top: 0.6em;
}

#help h2 {
	color: hsl(180, 20%, 20%);
	margin-bottom: 1em;
	letter-spacing: 1px;
	margin-left: 1.3em;
}

#help p {
	font-size: 1.2em;
	margin-left: 1.5em;
	margin-right: 1.5em;
}

/* ------------------------------------------ LOGIN VIEW ---------------------------------------*/

#login-page {
	text-align: center;
	background-color: hsl(200, 5%, 80%);
	height: 100%;
	overflow: hidden;
}

#login-page h1 {
	letter-spacing: 1px;
	font-size: 4em;
	font-weight: 100;
	margin: 1em !important;
	color: hsl(0, 0%, 20%);
}

#login-form {
	display: inline-block;
	background-color: hsl(207, 12%, 95%);
	padding: 2em;
	border: solid 1px hsl(0, 0%, 80%);
	box-shadow: 0 0 12px hsla(0, 0%, 0%, 0.21);
}

#login-form * {
	display: block;
}

#login-form h2 {
	margin: 1.5em 0;
	margin-top: 0.7em;
	font-size: 2em;
}

#login-form p {
	width: 30rem;
	color: hsl(0, 60%, 60%);
	display: none;
}

#login-form input {
	margin-bottom: 1em;
	width: 30rem;
	line-height: 3em;
	font-size: 1.5em;
	height: 1.8em;
	line-height: 1.8em;
	padding: 0 0.5em;
	border-radius: 0;
	border: solid hsl(0, 0%, 85%) 1px;
}

#login-form button {
	width: 100%;
	height: 2.5em;
	padding: 0 0.5em;
	margin-top: 1em;
	font-size: 1.5em;
	color: hsl(0, 0%, 95%);
	border-radius: 0;
	border: none;
	background-color: hsl(180, 60%, 30%);
	cursor: pointer;
}

#login-form button:hover {
	background-color: hsl(180, 60%, 40%);
}

#login-form a {
	color: hsl(0, 0%, 40%);
	margin-top: 1em;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}

#login-form a:hover {
	color: black;
}

#login-form-confirm.hide {
	display: none;
}

/* ------------------------------------------ SEARCH VIEW ---------------------------------------*/

#search-page {	
	background-color: hsl(200, 5%, 90%);
	height: 100%;
	overflow: auto;
}

#search-page h1 {
	background-color: hsl(0, 0%, 95%);
	margin: 0;
	padding: 0.5em;
	padding-left: 1.2em;
	letter-spacing: 2px;
	font-size: 2em;
	color: hsl(180, 60%, 40%);
	border-bottom: solid 1px hsl(0, 0%, 85%);
}

#search-breadcrumb {
	width: 80%;
	margin-left: 10%;
	height: 4em;
	background-color: hsl(0, 0%, 95%);
	border: solid 1px hsl(0, 0%, 70%);
	margin-top: 2em;
}

#search-question {
	margin-top: 2em;
	width: 90%;
	margin-left: 5%;
	font-size: 1.3em;
	color: hsl(0, 0%, 11%);
}

#search-not-used {
	text-align: center;
	height: 4rem;
	font-size: 1.2em;
	line-height: 4rem;
	margin-top: 2em !important;
}

#search-used {
	height: 4rem;
	overflow: hidden;
}

#search-page .option.selected {
	cursor: default;
	color: hsl(0, 0%, 0%);
	background-color: hsl(207, 12%, 95%);
	border: solid 1px hsl(0, 0%, 80%);
	box-shadow: 0 0 12px hsla(0, 0%, 0%, 0.21);
}

#search-page .option {
	cursor: pointer;
	width: 90%;
	margin-left: 5%;
	border: solid 1px hsl(180, 60%, 40%);
	background-color: hsl(200, 5%, 90%);
	color: hsl(0, 0%, 60%);
	margin-top: 1.5em;
}

#search-page .option:hover {
	color: hsl(0, 0%, 0%);
	margin-bottom: 5px;
}

#search-used-title {
	overflow: hidden;
	text-align: center;
	font-size: 1.2em;
	line-height: 4rem;
	margin: 0;
}

#search-input {
	margin-top: 2em;
}

#search-really-important {
	padding: 1em;
	margin-top: 3em;
	display: inline-block;
}

/* ------------------------------------------ SEARCH INPUTS ---------------------------------------*/

/** range **/
.range-bar {
	border: solid 1px hsl(0, 0%, 70%);
	background-color: hsl(0, 0%, 90%);
	border-radius: 3px;
	height: 7px;
	width: 90%;
	margin-left: 5%;
	position: relative;;
}

.range-knob {
	width: 25px;
	height: 25px;
	border: solid 1px hsl(180, 60%, 30%);
	background-color: hsl(0, 0%, 90%);
	border-radius: 13px;
	position: absolute;
	margin-top: -9px;
	cursor: pointer;
}

.range-knob:hover {
	background-color: hsl(180, 40%, 50%);
	border-color: hsl(0, 0%, 40%);
}

.range-subbar {
	width: 80%;
	height: 7px;
	background-color: hsl(180, 40%, 50%);
	position: absolute;
	margin-left: 10%;
}

.range-label {
	position: absolute;
	display: inline-block;
	margin-top: -30px;
	width: 1px;
}

.range-label div {
	width: 200px;
	margin-left: -88px; /* calc(-100px + 12px )*/
	text-align: center;
}

/** boolean **/

.boolean {
	position: relative;
	width: 90%;
	margin-left: 5%;
	font-size: 1.3em;
}

.boolean-option {
	width: calc(30% - 1px);
	margin-left: 13%;
	display: inline-block;
	text-align: center;
	height: calc(2.5em - 1px);
	line-height: 2.5em;
	cursor: pointer;
	border: solid 1px hsl(0, 0%, 70%);
	background-color: transparent;
	position: absolute;
	pointer-events: none;
}

.boolean-option + .boolean-option {
	margin-left: 56%;
}

.boolean-trans {
	position: absolute;
	width: 30%;
	height: 2.5em;
	background-color: hsl(180, 60%, 30%);
	top: 0;
	margin-left: 56%;
}

.boolean-dummy {
	width: calc(30% - 1px);
	margin-left: 13%;
	display: inline-block;
	text-align: center;
	height: calc(2.5em - 1px);
	line-height: 2.5em;
	cursor: pointer;
	color: hsl(180, 60%, 30%);
	border: solid 1px hsl(0, 0%, 70%);
	position: absolute;
}

.boolean-dummy:hover {
	background-color: hsl(180, 10%, 85%);
}

.boolean-dummy + .boolean-dummy {
	margin-left: 56%;
}

/** string list **/

.stringlist {
	width: 90%;
	margin-left: 5%;
	list-style-type: none;
	padding: 0;
}

.stringlist li {
	width: 25%;
	margin-left: 6.25%;
	display: inline-block;
	background-color: blue;
	margin-top: 1em;
	color: hsl(180, 60%, 30%);
	border: solid 1px hsl(0, 0%, 70%);
	background-color: hsl(180, 10%, 85%);
	text-align: center;
	padding: 0.4em 0;
	cursor: pointer;
}

.stringlist li:not(.selected):hover {
	background-color: hsl(180, 10%, 80%);
}

.stringlist li.selected {
	background-color: hsl(180, 60%, 30%);
	color: hsl(0, 0%, 90%);
}


/** string list **/

.tree-node {
	margin-bottom: 10px;
}

.tree-value {
	background-color: hsl(180, 60%, 30%);
	color: hsl(0, 0%, 90%);
	text-align: center;
	padding: 0.4em 0;
	cursor: pointer;
	display: inline-block;
	width: 20%;
}

.tree-children {
	margin: 0;
	padding: 0;
	margin-left: calc(20% + 10px);
	list-style-type: none;
	margin-top: calc(-1.8em - 2px);
}

.tree-root {
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-top: calc(-1.8em - 2px);
}